@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins",sans-serif;

}
body{
    overflow: hidden;
}
 .background{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url(imagemfundao.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;

}
header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding: top;

}
.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    

}
.cabeçalho-link a{
    color:#fff;
    font-size: 20px;
    cursor: pointer;

}

.cabeçalho-link a :hover{
    background-color: #fff;
    color: #e02424; 
    transition: 0.3s all;
}
.logo{
    
    height: 40px;
    width: 40px;
    background: transparent;
    border:2px solid #e02424;
    color: #e02424;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;

}
button{
    color: #e02424;
    background: transparent;
    border:solid 1px #e02424;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 150px;
    cursor:pointer;
}
button:hover{
    background-color: #e02424;
    color: #fff;
    transition: 0.5s;
}
.container-text{
    padding: 150px 0 0 130px;
}
.text h3{
    color: #fff;
    font-size: 15px;
}

.text h1{
    color: #fff;
    margin-top: 10px;

}

.text span{
    color: #e02424;

}
.text p{
    color: #fff;
    font: size 10px;
    font-weight: 300;
    margin-top: 10x;
}
.redes-sociais a{
    color:#e02424;
    padding: 10px;
    margin-top: 5px;
}
.btn{
    margin-top: 10px;
}




#imagem-redonda{
    margin-top: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #e02424;
    cursor: pointer;
    

    
    
    
}

h1{
    font-family: monospace;
    border-right: 4px solid;
    width:25ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(25) alternate-reverse infinite, blinking 0.5s infinite alternate-reverse;
    
    
    
    
    

}
@keyframes typing{
    from{
        width: 0;
    }
}
@keyframes blinking {
    50%{
        border-color: transparent;
    }
    
}




